<p>The ISBN of a product is usually found on the product on or near the bar-code. It will have either 10 or 13 digits, and will include dashes and occasionally some letters.</p>
<p>You do not need to worry about the dashes when entering into our system.</p>