<h3>Formatting Help</h3>
<table class="help" cellspacing="0" cellpadding="0">
	<tr>
		<th class="example">If you want to see this... </th>
		<th>Type it like this</th>
	</tr>
	<tr>
    <td class="example"> <em>emphasized</em> </td>
		<td> <code>_emphasized_</code> </td>		
	</tr>
	<tr>
    <td class="example"> <strong>bold</strong> </td>
		<td> <code>*bold*</code> </td>		
	</tr>
	<tr>
    <td class="example"> <ul><li>an item</li><li>and another</li></ul> </td>
		<td> <code>* an item</code><br><code>* and another</code> </td>		
	</tr>

	<tr>
	  <td class="example"> <ol><li>one</li><li>two</li></ol> </td>
		<td> <code># one</code><br><code># two</code> </td>		
	</tr>
	
	<tr>
	  <td class="example"> <h3>A nice header</h3> </td>
		<td> <code>h3. A nice header</code> </td>		
	</tr>
	
	<tr>
	  <td class="example"> <h2>A bigger header</h2> </td>
		<td> <code>h2. A bigger header</code> (be careful with this one - can make your listing confusing) </td>		
	</tr>
	
	<tr>
	  <td class="example"> <h1>A nice header with no line underneath</h1> </td>
		<td> <code>h1. A nice header with no line underneath</code></td>		
	</tr>
	
	<tr>
    <td class="example"> <a href="http://homeschoolapple.com">Homeschool Apple</a> </td>
		<td> <code>"Homeschool Apple":http://homeschoolapple.com</code> </td>		
	</tr>
	<tr>
    <td colspan="2"><p class="details"><em>Expert Tip:</em> If you want to put a link to a product you have for sale elsewhere on HSA in another listing, do this:</p>
       <p class="details bump_down"><code>"Name of My Product":http://homeschoolapple.com/products/[id-of-my-product]</code>, where [id-of-my-product] is the number of the product that shows up in the address bar when you are looking the product page.</p></td>		
	</tr>
</table>

<p class="bump_down">Additionally, you can put in HTML tags, but please, no link spam! Spamming is a violation of our terms, and the offenders will be expelled immediately.</p>
