<div class="account_feature_form">
  <div class="form_left">
    
    <h4>Basic Information</h4>
    <p><label for="account_feature_name">Name (used for internal reference in code)</label><br/>
          <%= form.text_field :name  %></p>
    
          <p><label for="account_feature_description">Description (displayed to user)</label><br/>
                <%= form.text_field :description%></p>
   
  </div>  
  
  
    
</div>