<h1>New forum_post</h1>

<%= error_messages_for :forum_post %>

<% form_for(:forum_post, :url => forum_posts_path(:forum_id => @forum)) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forum_posts_path(:forum_id => @forum) %>