<div class="member_form">
  <div class="form_left">
    
    <h4>Basic Information</h4>
    <p><label for="item_format_name">Name</label><br/>
          <%= form.text_field :name  %></p>
    
  </div>  
  
  
  <div class="form_right helpful">

    <p>Item formats are used to classify the products people sell.</p>


  </div>
  
  <div class="clear_fix"></div>
    
</div>