<title>Homeschool Apple<%= render_trail(@active_tab, @current_item) %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<%= javascript_include_tag :defaults, 'builder', 'lightbox', :cache => 'all' %>
<%= stylesheet_link_tag "hsa_black",'lightbox', :media => "all" %>
<!--[if IE 6]>
  <%= stylesheet_link_tag "ie_stinks", :media => "all" %>
<![endif]-->
<meta name="description" content="A community and set of helpful applications for Homeschoolers, including the web's easiest place to buy and sell used curriculum.">
<meta name="keywords" content="homeschool, buy, sell, used, books, curriculum, reviews, community, blog, home, school">
<link rel="shortcut icon" href="/favicon_hsa.ico" >