<div class="publisher_form">
  <div class="form_left">
    
    <h4>Basic Information</h4>
    <p><label for="publisher_name">Name</label><br/>
          <%= form.text_field :name  %></p>
    
  </div>  
  
  
  <div class="form_right helpful">

    <p>Publishers are used to further classify products.</p>


  </div>
  
  <div class="clear_fix"></div>
    
</div>