<div class="member_form">
  <div class="form_left">
    
    <h4>Basic Information</h4>
    <p><label for="role_name">Name</label><br/>
          <%= form.text_field :name  %></p>
    
  </div>  
  
  <div class="form_right protected">
    <p>Roles are used to restrict access to certain parts of the site.  This area is one that will be further developed as time goes on.</p>
    
  </div>
  
  <div class="clear_fix"></div>
    
</div>