<h3>Edit Role</h3>
<p class="form_link"><%= link_to "Oops... I don't want to edit this after all", [:admin, @role] %></p>

<% form_for [:admin, @role] do |f| %>
    <%= error_messages_for :role %>

    <%= render :partial => "form", :object => f %>

  <div class="form_submit">
  <%= submit_tag "Update Role" %>
  </div>
  
 
<% end %>
