<h3>New Role</h3>
<p class="form_link"><%= link_to "Oops... I don't want to add this after all", admin_roles_path %></p>

<% form_for [:admin, @role] do |f| %>
    <%= error_messages_for :role %>

    <%= render :partial => "form", :object => f %>

  <div class="form_submit">
  <%= submit_tag "Create Role" %>
  </div>
  
 
<% end %>