<h3>Edit Account Type</h3>
<p class="form_link"><%= link_to "Oops... I don't want to edit this after all", [:admin, @account_type] %></p>

<% form_for [:admin, @account_type] do |f| %>
    <%= error_messages_for :account_type %>

    <%= render :partial => "form", :object => f %>

  <div class="form_submit">
  <%= submit_tag "Update Account Type" %>
  </div>
  
 
<% end %>