<h3>New Category</h3>
<p class="form_link"><%= link_to "Oops... I don't want to add this after all", admin_categories_path %></p>

<% form_for [:admin, @category] do |f| %>
    <%= error_messages_for :category %>

    <%= render :partial => "form", :object => f %>

  <div class="form_submit">
  <%= submit_tag "Create Category" %>
  </div>
  
 
<% end %>