<div id="latest_blog_entries">
<h4>Latest Blog Entries</h4>				
<ul>
  <li><%= link_to "My Blog Entry", products_url %></li>
  <li><%= link_to "Your Blog Entry", products_url %></li>
  <li><%= link_to "Our Blog Entry", products_url %></li>
</ul>
</div>