<div id="about_hsa" class="box full_span">
  <h2>About Homeschool Apple</h2>
  <div id="about_hsa_content" class="box_interior space_out">
    <p>Homeschool Apple is the result of the serendipitous meeting of a couple of like-minded homeschool families who shared a gifting in web-technology (let's be clear, it was the HUSBANDS who had this gifting, the wives are pretty occupied with homeschooling the kids!)   This site is dedicated to being the most sensible, user-friendly way to buy and sell homeschool products, bring new ideas and talents to a larger market, and connect  families for support, sharing, and interacting.     </p>

        <p>Soon after we began homeschooling some five years ago, we became enamored with the wealth and quality of the information, support and educational products offered to the homeschool community.   In fact, like many new homeschoolers, we found ourselves overwhelmed at first, and then figured out little by little what worked for us by trial and error of different methods and products.   This process left us with a few too many resources than we needed or could use, and we found there weren't many options for reselling them on the internet.  We envisioned the possibilities for a cutting edge site such as Homeschool Apple early on, and noticed this as a need we were suited to fill with Chris' occupation as an enterprise-web developer, but as can happen, busyness and life kept our dream on the back burner.  </p>

        <p>A couple years later, our families crossed paths when we wives were introduced by a mutual friend at a local homeschool group park day and quickly realized how much our husbands had in common, including a remarkably similar technology bent.   This chance meeting opened the door to the partnership that has taken Homeschool Apple from vision to reality.  And we're not done yet!</p>

        <p>Our mission, to be an oasis for homeschoolers on the internet, or an 'apple' for the homeschool teacher as the analogy suggests, is far from complete.  Providing an easy-to-use, secure site for buying and selling and connecting with other homeschoolers is just the beginning!  We have many other ideas to provide innovative web-based solutions for needs unique to homeschool families and we need YOUR help!   YOUR contributions are what make  Homeschool Apple's mission a reality.  We want to bring YOUR giftings and talents to the larger homeschool community!   Whether you have encouragement or wisdom to offer, an idea for a new feature,  a curriculum review you want to share, a custom designed product you wish to sell, we want to hear from YOU!</p>
  </div>
</div>
<div id="about_us" class="box full_span">
  <h2>About Us</h2>
  <div id="about_us_content" class="box_interior space_out">
    <p>We are two homeschool families who share a love for the Lord, our kids and a commitment to their upbringing and education, and a gifting in web-based technology.</p>
    <p><%= image_tag('the_becks.jpg', :class=>"product")%><br/>The Becks are a homeschool family with 3 children ages 12, 9, and 7. Chris and Carrie have homeschooled for 5 years and live in Matthews, NC.</p>
    <p class="clear_fix bump_down"><%= image_tag('the_neddermans.jpg', :class=>"product")%><br/>The Neddermans are a homeschooling family with 6 children ranging in ages from 16 - 2 years-old. Scott and Tanya have homeschooled off and on for 7 years and live in Charlotte, NC.</p>
  </div>
</div>
<div id="about_np" class="box full_span">
  <h2>About Netphase</h2>
  <div id="about_np_content" class="box_interior space_out">
    <p>Netphase is Scott and Chris&#8217; Ruby on Rails Web Application Development alter-ego. Homeschool Apple is a Netphase project in the sense that Scott and Chris did all of the design and coding, but trust me, the direction, inspiration, and ultimate feature decisions where a total group effort. If not for the experience and love of our Homeschooling wives, no amount of web development whiz-bang neato stuff would matter.</p>
    <p>For more information about Netphase, visit <a href="http://netphase.com">http://netphase.com</a>.</p>
  </div>
</div>