<div id="how_header" >
  <h2>How Does This Work?</h2>
  <div id="how_header_content" class="box_interior space_out">
    <p>Buying and selling on Homeschool Apple is really simple! You add items to your cart, checkout when you are done, and receive your products! Sellers get paid the full proceeds minus our minimal transaction processing costs, and everyone is happy. Should you want the nitty-gritty details, keep reading below...</p>
    <h3>Buying on Homeschool Apple</h3>
    <p>If you want to buy products on Homeschool Apple, all you do is add items to your cart as you would on any shopping site. Once you add an item into your cart, it is removed from our inventory, preventing someone else from buying it before you do. As long as you are using the site - browsing around, checking out sellers, uploading products to sell, etc. - the item will stay in your cart until you are ready to check out. Once you are done shopping, click on your cart to checkout. Enter your payment information on our secure PayPal site, and you are done!</p>
    <p>The seller(s) will be notified of your purchase, and they will be instructed on where to ship your product. We do not send the money for your purchase to the seller until we have CONFIRMATION that your item has been shipped.</p>
    <p>Once you receive your item, you may optionally log on and leave feedback for each seller you purchased items from. And if by some chance you do not receive your item, we will refund your money 100%. This is our buyer protection guarantee, and it's how you can shop on Homeschool Apple with complete confidence.</p>
    
    <h3>Selling on Homeschool Apple</h3>
    <p>First sign up for our FREE seller account.  This will enable you to become one of our trusted sellers right away. We assist you in the easy steps to list your products and set their prices and upload any images. </p>
        <p>Your products are then a part of our storefront and available for purchase to any Homeschool Apple user.  When a prospective buyer selects your product from the store and adds it to their cart, it will be temporarily removed from the store and placed on hold until the buyer checks out.  At this point, we collect the buyer's payment information for you and hold the funds while you are notified of the sale.  </p>

        <p>Once you receive email notification, or are notified on our site that your product has sold, you ship the item to the designated address within the given time frame that you have chosen for your account.  To release your funds for disbursement, you enter the tracking number into our system, or if you choose to ship without a tracking number your funds will be released seven days from the date you've notified us that the product has shipped and you will receive your funds on the next disbursement date.  We currently run disbursements every business day.  </p>

        <p>This ensures sufficient time for the buyer to receive your item or report that it has not arrived.  In the event that you do not ship the item within the time frame you have chosen, the buyers' funds can be refunded at their discretion and your product would be placed back into the store.  </p>

        <p>After receiving the shipment, the buyer can leave feedback about their experience which will then be associated with your seller account and will be publicly viewable by other prospective buyers.  Any sellers with repeated negative feedback may lose membership with HSA and all associated privileges.</p>

        <p>We are dedicated to providing the best possible experience for both buyers and sellers.  If you encounter any issues, we are always here to help out.  Also, if you try Homeschool Apple and love it, please don't keep it a secret!  Tell your homeschooling friends and let them become a part of this special community!</p>
      <!--></div>
      <div class="interior_half right">
        <%= image_tag('demos/signup.png', :class=>"screen")%>
        <%= image_tag('demos/sell.png', :class=>"screen")%>
        <%= image_tag('demos/ship.png', :class=>"screen")%>
      </div>
      <div class="clear_fix">&nbsp;</div>-->
  </div>
</div>


