<div id="interact_header" class="box green_gray full_span">
  <h2>Coming Soon!</h2>
  <div id="interact_header_content" class="box_interior space_out">
    <p>Interact is going to be the place where our homeschool community thrives! Post status updates to let others know how your day is going. Participate in secure
      community forums. Follow sellers who offer products you like and be alerted when they offer new things for sale. It will be fun, and like everything else
      on Homeschool Apple, easy to use.</p>
  </div>
</div>

<div id="interact_middle" class="box full_span">
  <h2>What You Will Find Here Over The Next Couple Of Weeks</h2>
  <div id="interact_middle_content" class="box_interior space_out">
    <p>Interact will have:</p>
    <ul class="list">
      <li>Peeps. Our twitter-like community connector with a few twists</li>
      <li>Find Members. Members who choose to display their profile (not required) will easily be able to connect with other like-minded members, both in their area and abroad.</li>
      <li>Write A Product Review. Passionate about something you are using in your homeschool? Share your opinions here and spread the love!</li>
      <li>Forum. A secure place for our members to have deeper conversations than are possible with simple status updates. For our community members only!</li>
      <li>And much more! We are always coming up with new stuff, and welcome your suggestions, too!</li>
    </ul>
  </div>
</div>

<div id="interact_teaser" class="box full_span">
  <h2>Official Teaser (From Our Designer's Mac)</h2>
  <div id="interact_teaser_content" class="box_interior space_out">
    <%= image_tag 'HSA_mockup_interact_home_650.png' %>
  </div>
</div>


