<div id="press_header" class="box full_span">
  <h2>Press</h2>
  <div id="press_header_content" class="box_interior space_out">
    <h3>HOMESCHOOL APPLE TAKES THE PAIN OUT OF BUYING AND SELLING HOMESCHOOL CURRICULUM. BEST OF ALL - IT'S FREE!</h3>

        <p>MAY 21, 2009 - MATTHEWS, NC. Homeschool Apple debuts as the internet's newest way to buy and sell homeschool products.  Officially launched this week, <%= link_to "homeschoolapple.com", home_url %> offers buyers and sellers protected transactions with an unprecedented  buyer's money-back guarantee.  While there are many more unique features on this homeschool-family-run site that are still in the works, the main attraction at this release is the storefront with simple, user-friendly interface, searchable index,  high-quality image capability, seller feedback, and protected transaction model.  </p>

        <p>"This transaction model allows buyers shopping for previously-owned homeschool products to come into our store with complete confidence that they will get what they pay for from the seller," says developer and homeschool dad Chris Beck.  "There is nothing out there that currently offers that.  We have also made it so the sellers get maximum bang for their buck.  They can list as many products as they want with no listing or final value fees. How can you beat that?"</p>

        <p>"We know first-hand how much of a personal investment is made in buying quality educational products when you homeschool," says Carrie Beck, homeschool mom of three, "and we wanted to provide sellers with an option that allows them to recoup as much of that cost as possible.  We are excited to be able to offer this to the homeschool community, and we really are focused on making it the best it can be as our way of giving back.  In fact, we really want giving back to be the unifying theme on HSA- hence the analogy, 'apple' for the homeschool teacher."  </p>

        <p>Homeschool Apple gives a peek at some additional features they will be debuting in the coming weeks.  Coming very soon is wishlist functionality that will allow buyers to submit products they are seeking into the system and be notified when someone adds them.  Sellers will also be able to offer downloadable products for sale in the storefront as well as products they merchandise in their home-based or small business.  In addition, our crack team of code ninjas have in development a protected interactive social network with forums, reviews, group blog, student accomplishment page, student themed-contests, give-aways and a unique 'twitter-like'  feature to allow users another level of social connectivity.</p>
    <p>If you are a member of the press, and would like to talk to us regarding Homeschool Apple, please contact:</p>
    <p>Carrie Beck</p>
    <p><%= mail_to "carrie@homeschoolapple.com" %></p>
  </div>
</div>