<div id="privacy_header" class="box full_span">
  <h2>Privacy</h2>
  <div id="privacy_header_content" class="box_interior space_out">
    <p>Our privacy policy is simple: we value you as both a customer and an individual and respect your privacy. We would never sell your information
      to third parties, friends, relatives, or high-school chums.</p>
    <p>Additionally, we care about your private data. We encrypt your password, have no access to your financial information, and secure all transactions
      via super-strong secure sockets. Also, we require a secure connection to login to the site, just to make sure no one can get to your information before 
      you even get on the site.</p>
    <p>If you have any questions or concerns about our security or privacy practices, please do not hesitate to contact us at:</p>
    <p><%= mail_to APP_CONFIG[:support_email] %></p>
  </div>
</div>