<div id="share_header" class="box green_gray full_span">
  <h2>Coming Soon!</h2>
  <div id="interact_header_content" class="box_interior space_out">
    <p><%= link_to "Freecycle", freecycles_path %>. Free Downloads. Free Giveaways. And that is just for starters! </p>
    <p>Share your child's accomplishments. Think - one big, happy group blog where you can post your child's art, poetry, written articles, etc. Participate in themed contests. Motivate your student to do their best, and share with all of us. Everybody wins!</p>
  </div>
</div>

<div id="share_middle" class="box full_span">
  <h2>What You Will Find Here Over The Next Couple Of Weeks</h2>
  <div id="interact_middle_content" class="box_interior space_out">
    <p>Share will have:</p>
    <ul class="list">
      <li><%= link_to "Freecycle", freecycles_path %>. Got something lying around that you just want to get rid of? Willing to give it to the first person who can come pick it up or pay to ship it? This is for you!</li>
      <li>Free Downloads. Coming very soon, our Members will have the ability to post downloadable products for sale in our store. A smart marketing tip might be to post a demo or partial version of that product for people to check out for free. Hint, hint... Of course, you could just upload something you are not selling and share it with the rest of us too!</li>
      <li>Free Giveaways! Homeschool Apple will be giving away FREE STUFF weekly. Our giveaways are open to all members, and signing up for each giveaway will be different each week. Maybe we will just ask for you to comment on something, or post a review, or upload a product to sell. Whatever it will be, it will be interesting. And who doesn't like free stuff?</li>
      <li>Share. Post your or your child's art, poetry, articles, videos, short stories, whatever. Let us all in on what you are up to!</li>
      <li>Themed Contests. Each month, we will have a themed contest for your students to enter. And yes, there will be prizes :)</li>
    </ul>
  </div>
</div>

<div id="share_teaser" class="box full_span">
  <h2>Un-Official Teaser (From Our Designer's Mac)</h2>
  <div id="interact_teaser_content" class="box_interior space_out">
    <p>Ok, so this part is so new, we don't even have a design comp for it yet! But when we do, you will find it here. In the mean-time, checkout the page that sort of morphed into this one...</p>
    <%= image_tag 'HSA_mockup_bless_home_650.png'%>
  </div>
</div>


