<div id="terms_header" class="box full_span">
  <h2>Terms of Use</h2>
  <div id="terms_header_content" class="box_interior space_out">
    <h3>Agreement To Terms</h3>
    <p>By registering to use this website, you are also agreeing to its Terms of Use, stated herein. If you feel you cannot abide by the terms, please don't register.</p>
    <h3>Inappropriate Content</h3>
    <p>Homeschool Apple is a family site, run by a couple of homeschooling families with kids of all ages. We would like for anyone to be able to use
      HSA at anytime, without having to worry if any eager young eyes are peering over their shoulder. We intend to take a fairly aggressive stance
      against inappropriate content of any kind. We want everyone to have a safe, enjoyable visit at all times. All inappropriate content will be removed immediately. 
      Anyone intentionally posting offensive, prejudicial, illegal, or otherwise discourteous content may be banned. Sorry, we don't mean to sound harsh, 
      but we are serious about this matter.</p>
    
    <h3>Selling on Homeschool Apple</h3>
    <p>Upon submitting the seller form, you will be permitted to sell items through our curriculum store. Your product will appear alongside products from all of our 
      other members, and it can be found in the store front by interested buyers who either browse or search our catalog.</p>
    <p>Once you post an item for sale, you acknowledge that the sale of said item within our storefront is an obligation on your part to ship the item to the buyer. 
      We will make this process very simple for you, so no worries! However, due to the fact that we collect the purchase price from 
      the buyer on your behalf at the time of sale, we ask that you do not list anything that you are not sure about selling or intend to sell elsewhere.</p>
    <p>In the event that a product you have listed here is sold outside of Homeschool Apple before it is purchased from our storefront, we ask that you 
      please change the status of the item to "Unavailable" immediately to prevent any confusion.</p>
    <p>Once your item sells, you will have a reasonable amount of time to ship the item to the buyer. You are in control of this timeframe, and can set the time it
      takes you to typically ship an item on the seller form. While by no means set in stone, it will be within the buyer's power to cancel a purchase for full refund
      if you are unable to ship the item within the specified window.</p>
    <p>After you ship your item, we will confirm the shipment via the tracking number that you provide then place your sale in the queue for disbursement. You will 
      then receive your funds via the method you chose on your seller form after the next scheduled processing date. We currently process seller disbursements every business day.</p>
      
    <h3>Buying on Homeschool Apple</h3>
    <p>We make life easy for the buyer on Homeschool Apple. You simply place your items in the basket, then checkout when you are ready. We collect your payment at the
      time of the sale, then notify the seller(s) of your purchase(s). Because of the nature of our storefront, you may receive your items from different locations
      via different shipping methods. You will be kept in the loop, however, because you can always look on the website to see the status of any item you have purchased.
      You may also receive an email with the tracking information once the seller has posted it for a purchased item.</p>
      <p>Once you receive your item, we would love it if you would provide feedback for the seller. This will help other people shop with confidence, and we like knowing what a 
        great experience you had with your purchase.</p>
      <p>If you are unsatisfied with a purchase because you feel the product was misrepresented in the description or is otherwise incomplete or unusable, we can arrange contact with the seller to resolve the matter. If this is unsatisfactory, we have a feedback system in place which gives you an opportunity to leave comments and complaints in a publicly viewable forum attached to the seller's account. If a seller becomes a problem and repeatedly receives negative feedback, this will constitute a violation of the seller agreement and will result in expulsion from HSA and all associated privileges.</p>
      <p>If by some chance that your sale is unable to be completed because the item is no longer available or the seller is unable to ship it during a reasonable
        amount of time, we will refund your money. </p>
        
      <p>Whew! That seems like a lot, but really, it boils down to this: treat others as you would want to be treated. Seems like I heard that somewhere before ;)</p>
    
    <p>If you have any questions or concerns about our terms of use, please contact us immediately at:</p>
    <p><%= mail_to APP_CONFIG[:support_email] %></p>
  </div>
</div>
