<div id="wishlist_header" class="box green_gray full_span">
  <h2>Coming Soon!</h2>
  <div id="wishlist_header_content" class="box_interior space_out">
    <p>And we mean soon! The wishlist will allow you to specify products that are not available yet, and be notified as soon as someone posts them. It is your
      personal shopping agent, if you will.</p>
      <p> The wishlist is near the top of our list for items that didn't quite make the launch, so check back next week (or sooner)!</p>
  </div>
</div>