<h1>New product_review</h1>

<%= error_messages_for :product_review %>

<% form_for(:product_review, :url => product_reviews_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', product_reviews_path %>