
<%= link_to 'Edit', edit_forum_post_path(:forum_id => @forum, :id => @forum_post) %> |
<%= link_to 'Back to Post', forum_post_path(:forum_id => @forum, :id => @forum_post.parent_id) %> |
<%= link_to 'Back to Forum', forum_posts_path(:forum_id => @forum) %>