<div class="payment_type_form">
  <div class="form_left">
    
    <h4>Basic Information</h4>
    <p><label for="payment_type_name">Name</label><br/>
          <%= form.text_field :name  %></p>
    
  </div>  
  
  
  <div class="form_right helpful">

    <p>Payment types are the types of payment allowed to be processed in the storefront.</p>


  </div>
  
  <div class="clear_fix"></div>
    
</div>