<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= render :partial => "shared/header"%>
  </head>
  <body id="help">
    <div id="canvas_top">
        <div id="header">
          <h1 id="logo">Homeschool Apple</h1>
          <ul id="main_nav" class="navigation">							
    				<li id="home_tab">HSA Help</li>				
          </ul>
        </div>	        
      </div>
    <div id="canvas_middle">        
        <div id="content">               
          <%= yield %>
          <div class="clear_fix">&nbsp;</div>
        </div>        
      </div>
      <div id="canvas_bottom">
        <ul id="footer_nav" class="navigation">
      	  <li><%= link_to_function "Close", 'window.close()' -%></li>
      	</ul>
      </div>
    
  </body>
  <script type="text/javascript">
  	<%= "Application.activate_tab('#{@active_tab}');" unless @active_tab.blank? %>
  </script>
</html>