<div id="session_form" class="box black full_span">
  <h2>Reset your password</h2>
  <div id="session_form_content" class="box_interior large_form">
    <% form_tag initiate_reset_path, :id => 'login_form' do %>
      <div class="left">
	      <%= label :member, :email, "Your email" %><br/>
	      <%= text_field_tag :email, nil, :size => 40 %>
      </div>
      <%= image_submit_tag 'hsa_button_big_arrow.png', :class => "submit_button bump_right" %>
    <% end %>
  </div>
</div>

<div id="signup_link" class="box two_thirds_span left">
  <h2>No Account?</h2>
  <div id="signup_link_content" class="box_interior">
    <p>No account yet? Signing up is FREE and takes less than 30 seconds.</p>
    <p class="bump_down"><%= link_to "Sign Up", signup_path, :class => "green_button"%></p>
  </div>
</div>

<div id="giveaway_link" class="box third_span green right">
  <h2>Free Stuff</h2>
  <div id="signup_link_content" class="box_interior">
    <p>This week we are giving away a $200 Gift Certificate to SonLight! Register for your chance to win inside!</p>
  </div>
</div>
